trigger: none

pool: Dar_se_jitna hai

steps:
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    backendServiceArm: 'azure-sp-conn'
    backendAzureRmResourceGroupName: 'Delhi_Air_Quality'
    backendAzureRmStorageAccountName: 'delhi43'
    backendAzureRmContainerName: 'dwarka'
    backendAzureRmKey: 'vmtfstate'
  displayName: backend set kiya hai 
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'validate'
  displayName: terraform validate

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'plan'
    environmentServiceNameAzureRM: 'azure-sp-conn'
  displayName: terraform plan

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'apply'
  displayName: terraform apply
  
