trigger: none

pool: delhi-agent-pool

steps:

- task: TerraformTask@5
  inputs: 
    provider: 'azurerm'
    command: 'init'
    backendServiceArm: 'delhi-sc'
    backendAzureRmResourceGroupName: 'amit-delhi'
    backendAzureRmStorageAccountName: 'amitdelhi1'
    backendAzureRmContainerName: 'amitdelhi1con'
    backendAzureRmKey: 'tfstate'
  displayName: terraform init   


- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'validate'
  displayName: terraform validate

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'plan'
    environmentServiceNameAzureRM: 'delhi-sc'
  displayName: terraform plan 


- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'apply'
    environmentServiceNameAzureRM: 'delhi-sc'
  displayName: terraform apply 
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'show'
    outputTo: 'console'
    outputFormat: 'default'
    environmentServiceNameAzureRM: 'delhi-sc'
  displayName: terraform show   
    